@font-face {
    font-family: Spartan;
    src: url(../../fonts/Spartan/Spartan-Regular.ttf);
}

@font-face {
    font-family: SpartanBold;
    src: url(../../fonts/Spartan/Spartan-Bold.ttf);
}

@font-face {
    font-family: SpartanSemiBold;
    src: url(../../fonts/Spartan/Spartan-SemiBold.ttf);
}

@font-face {
    font-family: SpartanLight;
    src: url(../../fonts/Spartan/Spartan-Light.ttf);
}