
// COLOR PALETTE
$clr1: #9e7f66;
$clr2: #111111;
$clr3: #17192b;
$clr4: #242b37;
$clr5: #5c6779;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 960px;


